@import "tailwindcss";


body {
  background: #0B0E16;
  background-image: url('/assests/test.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: -webkit-optimize-contrast;
  font-family: Arial, Helvetica, sans-serif;
  color:#fff
}
